.login {
  background-color: #1985a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.login-form {
  background-color: #CAC4CE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  font-size: 20px;
}

.login-title {
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 40px;
}

.email-input, .password-input {
  font-size: 20px;
  margin: 5px;

}

.login-button {
  font-size: 20px;
  margin-top: 50px;
}
